In [31]:
import os, sys
import pandas as pd
import numpy as np
import json

REL_DATA_PATH = '../data_collection/records'

In [32]:
sys.path.append(REL_DATA_PATH)

In [33]:
data_files=os.listdir(REL_DATA_PATH)

In [34]:
data_files

['artist_dataset_1603770872.7226639.csv',
 'artist_dataset_1603769378.010896.csv',
 'artist_dataset_1603769680.807018.csv',
 'artist_dataset_1603771134.534486.csv']

In [40]:
df = pd.DataFrame()
for n in data_files:
    df=df.append(pd.read_csv(f"{REL_DATA_PATH}/{n}",sep='|').drop('Unnamed: 0',axis=1))

In [41]:
df.describe(include='all')

,Category,Year Created,Surface,Substrate,Signature,Image Size,img_url,Title,Artist Name,image_file,Medium
count,5444,4010.000000,4857,4853,5444,5354,5314,5444,5444,5314,578
unique,4,NaN,438,149,3,3945,5063,4080,47,5103,95
top,2D,NaN,Oil,Paper,Yes,29.25 x 43 inch,https://artbnk-art-resized-images.s3.amazonaws...,Untitled,ALEXANDER CALDER,images/affandi/8f8481e6531eb3a73214cdbf050be6d...,Wire
freq,4823,NaN,1773,2436,3900,57,124,430,1759,35,81
mean,NaN,1946.747382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,318.704065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1630.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1917.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1951.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1969.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,21964.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df.head()

,Category,Year Created,Surface,Substrate,Signature,Image Size,img_url,Title,Artist Name,image_file,Medium
0,2D,1835.0,"Brush, Pen",Paper,Yes,28.6 x 19.7 cm,https://artbnk-art-resized-images.s3.amazonaws...,Mountain Stream in Norway.,ANDREAS ACHENBACH,images/andreas_achenbach/db71d17c6b99bbcb339c6...,NaN
1,2D,1837.0,Oil,Canvas,Yes,10.25 x 14.75 inch,https://artbnk-art-resized-images.s3.amazonaws...,Norwegische Landschaft,ANDREAS ACHENBACH,images/andreas_achenbach/31cabcab5d8ab2fc3433e...,NaN
2,2D,NaN,Oil,Panel,Yes,17.5 x 30 inch,https://artbnk-art-resized-images.s3.amazonaws...,Boote im Hafen,ANDREAS ACHENBACH,images/andreas_achenbach/529bbbcbc6021af2efdf8...,NaN
3,2D,1815.0,Oil,Canvas,Yes,13.62 x 10.75 inch,https://artbnk-art-resized-images.s3.amazonaws...,Sunset on a Rocky Coast,ANDREAS ACHENBACH,images/andreas_achenbach/3db9605b25d95b10ec099...,NaN
4,2D,NaN,Oil,Panel,Yes,20.125 x 30.75 inch,https://artbnk-art-resized-images.s3.amazonaws...,Heissische Landschaft,ANDREAS ACHENBACH,images/andreas_achenbach/2f4da8689c5df799c7e20...,NaN

In [47]:
df['Year Created'] = df['Year Created'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [48]:
df[df['Year Created'].isna()]

,Category,Year Created,Surface,Substrate,Signature,Image Size,img_url,Title,Artist Name,image_file,Medium
2,2D,NaN,Oil,Panel,Yes,17.5 x 30 inch,https://artbnk-art-resized-images.s3.amazonaws...,Boote im Hafen,ANDREAS ACHENBACH,images/andreas_achenbach/529bbbcbc6021af2efdf8...,NaN
4,2D,NaN,Oil,Panel,Yes,20.125 x 30.75 inch,https://artbnk-art-resized-images.s3.amazonaws...,Heissische Landschaft,ANDREAS ACHENBACH,images/andreas_achenbach/2f4da8689c5df799c7e20...,NaN
5,2D,NaN,Oil,Canvas,Yes,25.75 x 34.75 inch,https://artbnk-art-resized-images.s3.amazonaws...,The Shipwreck,ANDREAS ACHENBACH,images/andreas_achenbach/f69409d7d8b839702fccf...,NaN
7,2D,NaN,Oil,Canvas,Yes,80.2 x 100.6 cm,https://artbnk-art-resized-images.s3.amazonaws...,Bundling forces in rough seas,ANDREAS ACHENBACH,images/andreas_achenbach/cef15459aab9114631dfd...,NaN
9,2D,NaN,Oil,Board,Yes,27 x 39 inch,https://artbnk-art-resized-images.s3.amazonaws...,A winter landscape with hunters on the ice,ANDREAS ACHENBACH,images/andreas_achenbach/ebf086a419b85bad36e9c...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
753,2D,NaN,"Pencil, Black Chalk",Paper,Yes,12.5 x 10 inch,NaN,HOMME BUVANT UNE TASSE DE CAFÉ,VINCENT VAN GOGH,NaN,NaN
755,2D,NaN,"Watercolor, Gouache",Paper,Unknown,15.375 x 22.25 inch,NaN,LES TOITS,VINCENT VAN GOGH,NaN,NaN
757,2D,NaN,Pencil,Paper,Yes,17.25 x 10.75 inch,https://artbnk-art-resized-images.s3.amazonaws...,Etudes de personnages (recto); Etudes de femme...,VINCENT VAN GOGH,images/vincent_van_gogh/54e91c6d97333a0200c5bd...,NaN
781,2D,NaN,Gouache,Paper,Unknown,10.875 x 18.125 inch,https://artbnk-art-resized-images.s3.amazonaws...,The Beach at Scheveningen,VINCENT VAN GOGH,images/vincent_van_gogh/1cbe0e31cd050d6f9b408f...,NaN
782,2D,NaN,"Watercolor, Gouache",Paper,Yes,20.625 x 14.375 inch,https://artbnk-art-resized-images.s3.amazonaws...,"Young Scheveningen Woman, Knitting: Facing Right",VINCENT VAN GOGH,images/vincent_van_gogh/f9d96458a7d3e7127772ff...,NaN

In [53]:
for n in df.columns:
    print(f"{n} with NAN:")
    print("-----")
    print(df[n].isna().value_counts())
    print("==========================")

Category with NAN:
-----
False    5444
Name: Category, dtype: int64
==========================
Year Created with NAN:
-----
False    4010
True     1434
Name: Year Created, dtype: int64
==========================
Surface with NAN:
-----
False    4857
True      587
Name: Surface, dtype: int64
==========================
Substrate with NAN:
-----
False    4853
True      591
Name: Substrate, dtype: int64
==========================
Signature with NAN:
-----
False    5444
Name: Signature, dtype: int64
==========================
Image Size with NAN:
-----
False    5354
True       90
Name: Image Size, dtype: int64
==========================
img_url with NAN:
-----
False    5314
True      130
Name: img_url, dtype: int64
==========================
Title with NAN:
-----
False    5444
Name: Title, dtype: int64
==========================
Artist Name with NAN:
-----
False    5444
Name: Artist Name, dtype: int64
==========================
image_file with NAN:
-----
False    5314
True      130
Name: image_file, dtype: int64
==========================
Medium with NAN:
-----
True     4866
False     578
Name: Medium, dtype: int64
==========================

In [58]:
df[df['Medium'].isna()].Category.value_counts()

2D            4823
2D Edition      34
3D               9
Name: Category, dtype: int64

In [59]:
df[~df['Medium'].isna()].Category.value_counts()

3D            573
3D Edition      5
Name: Category, dtype: int64

In [60]:
df[df['Substrate'].isna()].Category.value_counts()

3D            582
3D Edition      5
2D              4
Name: Category, dtype: int64

In [61]:
df[~df['Substrate'].isna()].Category.value_counts()

2D            4819
2D Edition      34
Name: Category, dtype: int64

#### So it seems as though Medium is used for sculpture and Substrate is used for paintings.